@font-face {
  font-family: 'Digital';
  src: url('DS-DIGI.TTF');
}

html {
	background-color: #111111;
}

.main-container {
	padding: 300px;
	background-color: #111111;
}

.digital-clock {
	width: 300px;
	color: red;
	font-size: 72px;
	font-family: 'Digital', sans-serif;
	text-align: center;
	-webkit-transform: skewY(15deg);
	text-shadow: 0 0 25px red, 0 0 100px red, 0 0 150px red, 0 0 200px red, 0 0 250px red;
}
