@font-face {
  font-family: 'Digital';
  src: url('DS-DIGI.TTF');
}

html {
	background-color: #000;
}

.main-container {
	background-color: #000;
}

.container .four.columns.clock {
	height: 72px;
	width: 220px;
}

.container .eight.columns {
	height: 50px;
	width: 460px;
}

.row-clock {
	height: 72px;
	margin-bottom: 20px;
}

.row-space {
	height: 50px;
	margin-bottom: 20px;
}

.digital-clock {
	color: red;
	font-size: 72px;
	font-family: 'Digital', sans-serif;
	text-align: center;
	-webkit-transform: skewY(15deg);
	text-shadow: 0 0 25px red, 0 0 100px red, 0 0 150px red, 0 0 200px red, 0 0 250px red;
}
