@font-face {
  font-family: 'Digital';
  src: url('DS-DIGI.TTF');
}

html {
	background-color: #000;
}

.container {
	background-color: #000;
	color: #cdcdcd;
}

.container .four.columns.clock {
	height: 86px;
	width: 220px;
}

.container .eight.columns {
	height: 50px;
	width: 460px;
}

.row-clock {
	height: 86px;
	margin-bottom: 20px;
}

.row-space {
	height: 50px;
	margin-bottom: 20px;
}

.narrator-container {
	text-align: center;
}

.person1-container {
	text-align: right;
}

.person2-container {
	text-align: left;
}

.choice-container {
	text-align: center;
}

.narrator-text {
	font-family: Didot, Georgia, "Times New Roman", serif;
	text-align: center;
	font-size: 38px;
}

.choice-text {
	font-family: Didot, Georgia, "Times New Roman", serif;
	text-align: center;
	font-size: 28px;
	margin: 0 20px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.choice-text:hover {
	text-shadow: 0 0 25px white, 0 0 100px white, 0 0 150px white, 0 0 200px white, 0 0 250px white;
	color: #dfdfdf;
	font-size: 30px;
}

.person1-text {
	font-family: "Lucida Grande", Verdana, sans-serif;
	text-align: right;
	font-style: italic;
	font-size: 28px;
	padding-right: 175px;
}

.person2-text {
	font-family: Arial, Verdana, sans-serif;
	text-align: left;
	font-size: 28px;
	padding-left: 85px;
}

.person2inner-text {
	font-family: Arial, Verdana, sans-serif;
	text-align: left;
	font-style: italic;
	font-size: 28px;
	color: #999;
	padding-left: 215px;
}

.digital-clock {
	color: red;
	font-size: 86px;
	font-family: 'Digital', sans-serif;
	text-align: center;
	-webkit-transform: skewY(15deg);
	-moz-transform: skewY(15deg);
	-ms-transform: skewY(15deg);
	text-shadow: 0 0 25px red, 0 0 100px red, 0 0 150px red, 0 0 200px red, 0 0 250px red;
	cursor: pointer;
}
